---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogEntries from "@/components/entries/BlogEntry.astro";
// import Cta from "@/components/global/Cta.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");

// Sort posts by date in descending order (newest first)
const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);

---

<BaseLayout>
  <section>
    <div class="py-8">
      <h1
        class="text-4xl text-balance font-medium font-display text-base-900 max-w-xl"
      >
        Hello, World.
      </h1>
      <div class="grid grid-cols-1 mt-4 gap-8 gap-y-8 sm:grid-cols-2">
        {
          sortedPosts.map((post) => (
            <BlogEntries
              url={"/posts/" + post.slug}
              alt={post.data.title}
              tags={post.data.tags}
              title={post.data.title}
              image={post.data.image.url}
              description={post.data.description}
              pubDate={post.data.pubDate.toString().slice(0, 10)}
            />
          ))
        }
      </div>
    </div>
  </section>
  <!-- <Cta /> -->
</BaseLayout>
